



.header{
    left: 5px;
    right: 5px;
    top: 5px;
    height: 100px;
    text-align: center;
    font-size: 50px;
    font-family: initial;
    background-color: darkslategray;
    color: white;
    
}

.mainbody{
    right: 5px;
    left: 5px;
    top: 115px;
    bottom: 65px;
}

.footer{
    text-align: center;
    font-size: 25px;
    font-family: initial;
    color: lightslategray;
}

h2{
    text-align: center;
    text-decoration: underline;
}

p{
    text-align: center;
}
